<iframe class="iframe-cal" frameborder="0" height="510" scrolling="no" src="https://www.google.com/calendar/embed?title=Paly%20Calendar&mode=AGENDA&showNav=0&showTitle=0&showDate=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0&height=400&wkst=1&bgcolor=%23FFFFFF&
src=lg4nnf5a82c5ipsuhak50okcqc%40group.calendar.google.com&color=%238C500B&
src=tc8fl1stcbrqdt9s3aa0k9h7ak%40group.calendar.google.com&color=%236B3304&
src=sh7d23sv7o17b7mp2t28ccssa8%40group.calendar.google.com&color=%23BE6D00&
src=palycalendar%40gmail.com&color=%23125A12&
src=pausd.org_ahtq44q6btk7jm8g9sts69s5f8%40group.calendar.google.com&
src=ipcq1o1l27kq5f20pbh83it5qc%40group.calendar.google.com&color=%232952A3&
src=kd9l7fmgu6ftm6v5r00ii7ihco%40group.calendar.google.com&color=%236B3304&
src=54evsbvsiaaaba93asoce9gmho%40group.calendar.google.com&color=%2342104A&
src=46iel0bugr4c0hm5uvu5enh42s%40group.calendar.google.com&color=%230F4B38&
ctz=America%2FLos_Angeles" style="border-width: 0; height: 300"></iframe>