
<footer>
	<div class="container">
		<div class="row">
			<div class="col">
				<p>Paly Address:</p>
				<a href="https://goo.gl/maps/cjo1uidJHiG2">
					<p>50 Embarcadero Rd<br>
					Palo Alto, California 94301</p>
				</a>
				<p>Paly Phone Number:</p>
				<p><a href="tel:6503293701">(650) 329-3701</a><br>
			</div>
			<div class="col">
				<a href="/about"><p>About this site</p></a>
				<div id="footer-copyright">
					<p>&#xa9; <script>document.write(new Date().getFullYear())</script><a href="https://oliviachang.me" target="_blank">  Olivia Chang.</a></p>
				</div>
			</div>
		</div>
	</p>
</footer>