<script src='/assets/scripts/external/jquery.min.js'></script>
<script src='/assets/scripts/external/swup.min.js'></script>
<script src="/assets/scripts/external/unveil.js"></script>
<script type="text/javascript" src="{{ '/assets/scripts/main.js' | url }}"></script>