footer {
	border-top: .5px solid #EEEEEE;
	padding: 1em 0;
	/*background-color: #232323;*/
	/*color: white;*/
	.row {
		/*width: 80%;*/
		margin: 0 auto;
		margin-top: 20px;
	}
	.col {
		padding-left: 0;
	}
}

#footer-copyright {
	font-size: 12px;
}