---
layout: ad-top
title: About
permalink: /about/
---
<h3>What is paly.win?</h3>
<p>This is a streamlined version of the bloated <a href="https://paly.net">Paly website</a>. It loads <i>much</i> faster and only includes links which are used on a daily basis.</p>

<h3>Why is paly.win necessary?</h3>
<p>paly.net is slow to load, unnecessarily convoluted, and difficult to navigate. paly.win fixes all of these problems. It's not intended to be a replacement for paly.net, but simply the site that you use regularly.</p>

<h3>Why the name paly.win?</h3>
<p>It's short, easy to remember, and hopefully evokes positive emotions.</p>

<h3>Where did you get the descriptions for the <a href="/paly-sites">Paly publications</a>?</h3>
<p>From their website. If you're part of a publication and would like to change the description to something reasonable, contact me.</p>

<h3>Why do you use system fonts? Why not custom fonts?</h3>
<p>Sadly, custom fonts slow down sites considerably. In the effort to make paly.win as fast as possible, I decided against custom fonts and instead employed system fonts (my deepest apologies if you continue to use Internet Explorer). Fun fact - thanks to CSSTricks, this site utilizes the same font stack as Github.</p>

<h3>I'm good at coding. Can I contribute?</h3>
<p>Sure. <a href="https://github.com/oliviachang29/paly.win" target="_blank">I await your pull request.</a></p>

<h3>How do I contact you?</h3>
<p>Contact me at <a href="mailto:hello@paly.win">hello@paly.win</a>.</p>
<p>Here are some good reasons to contact me:</p>
<ul>
	<li><strong>Complaints</strong>: <i>"How dare you put Paly video productions at the bottom of the publications page?!"</i></li>
	<li><strong>Incorrect information</strong>: <i>"Flex is actually mandatory and year round and 24/7."</i></li>
	<li><strong>Suggestions</strong>: <i>"You should add a link to Fox News so you can maintain a semblance of media impartiality."</i></li>
</ul>

<h3>Who made this site?</h3>
<p>paly.win was made by <a href="https://oliviachang.me" target="_blank">Olivia Chang</a> (class of 2020).</p>