---
layout: ad-top
title: Calendar
permalink: /calendar/
---

<div class="iframe-container">
	<iframe class="iframe-md" src="https://www.google.com/calendar/embed?showTitle=0&height=600&wkst=1&bgcolor=%23FFFFFF&
src=rl5e5us91t88ihuhms6d1jkn44%40group.calendar.google.com&color=%232F6309&
src=btia3tuqhgiq8vuun1p377t2gg%40group.calendar.google.com&color=%23856508&
src=lg4nnf5a82c5ipsuhak50okcqc%40group.calendar.google.com&color=%238C500B&
src=tc8fl1stcbrqdt9s3aa0k9h7ak%40group.calendar.google.com&color=%236B3304&
src=sh7d23sv7o17b7mp2t28ccssa8%40group.calendar.google.com&color=%23BE6D00&
src=palycalendar%40gmail.com&color=%23125A12&
src=pausd.org_ahtq44q6btk7jm8g9sts69s5f8%40group.calendar.google.com&
src=ipcq1o1l27kq5f20pbh83it5qc%40group.calendar.google.com&color=%232952A3&
src=kd9l7fmgu6ftm6v5r00ii7ihco%40group.calendar.google.com&color=%236B3304&
src=54evsbvsiaaaba93asoce9gmho%40group.calendar.google.com&color=%2342104A&
src=46iel0bugr4c0hm5uvu5enh42s%40group.calendar.google.com&color=%230F4B38&

ctz=America%2FLos_Angeles" id="IFR" style="background-color: #fff;"></iframe>
</div>