---
layout: ad-top
title: Paly Sites
permalink: /paly-sites/
---
<p>Links to various Paly websites.</p>
<div class="row">
	{% for card in general.paly_sites %}
        <div class="col-md-6">
          {% include "card.njk" %}
        </div>
      {% endfor %}
</div>
<h2>Publications</h2>
<p>Are you part of a Paly publication? Request a (reasonable) change to a description by contacting me at <a href="mailto:hello@paly.win">hello@paly.win</a>.</p>
<div class="row">
	{% for card in general.publications %}
        <div class="col-md-6">
          {% include "card.njk" %}
        </div>
      {% endfor %}
</div>
