---
layout: base
---

<div class="row">
  <div class="col-lg cal-container">
    {% include "calendar.njk" %}
    <a href="/calendar">
      <button type="button" class="btn btn-outline-success button">See events by month</button>
    </a>
  </div>
  <div class="col-lg">
    <div class="row">
      {% include "ad.njk" %}
      {% for card in general.home_links %}
        <div class="col-md-6">
          {% include "card.njk" %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>