---
layout: base
cards:
  - title: "id.pausd.org"
    text: "Links to Schoology, Google Drive, etc."
    link: "http://id.pausd.org"
    newtab: true
  - title: "Month Calendar"
    text: "See events by month."
    link: "/calendar"
  - title: "PAUSD Calendar"
    text: "Full school year calendar, district-wide."
    link: "/pausd-calendar"
  - title: "Campus Map"
    text: "How to get around."
    link: "/campus-map"
  - title: "Naviance"
    newtab: true
    text: "GPA, college resources, SAT/ACT test scores."
    link: "https://student.naviance.com/pahs"
  - title: "Paly Sites"
    text: "Publications, sports, library website, paly.net."
    link: "/paly-sites"
  - title: "NYTimes Academic Pass"
    text: "Get the New York Times for free."
    link: "/nytimes"
  - title: "studyguides.science"
    newtab: true
    class: "highlighted-card"
    text: "Bio, chem, physics, and CS study notes."
    link: "https://studyguides.science"
---

<div class="row">
  <div class="col-lg cal-container">
    {% include "calendar.njk" %}
    <a href="/calendar">
      <button type="button" class="btn btn-outline-success button">See events by month</button>
    </a>
  </div>
  <div class="col-lg">
    <div class="row">
      {% include "ad.njk" %}
      {% for card in cards %}
        <div class="col-md-6">
          {% include "card.njk" %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>