---
layout: base
---
{# <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- paly.win/default -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6379400738810441"
     data-ad-slot="9705847593"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script> #}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		{% if page.parents %}
			{% for parent in page.parents %}
				<li class="breadcrumb-item"><a href="{{parent[0]}}">{{parent[1]}}</a></li>
			{% endfor %}
		{% endif %}
		<li class="breadcrumb-item active" aria-current="page">{{title}}</li>
	</ol>
</nav>
<h1>{{title}}</h1>
{{content | safe}}