<!DOCTYPE html>
<html lang="{{ meta.lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ meta.title }}</title>
    {% include "meta.njk" %}

    <style>
	    {% include "critical.css" %}
	</style>
</head>
<body>

    {% include "nav.njk" %}
    <div id="wrap">
        <main id="swup" class="transition-fade container">
            {{content | safe }}
        </main>
    </div>
    {% include "footer.njk" %}

    <link rel="stylesheet" href="{{ '/assets/styles/main.css' | url }}">

    {% include "scripts.njk" %}
</body>
</html>